:root {
    --color-white: { color: "#B5B1B1"}
    --color-primary: { color: "#2473CF"};
    --color-secondary: { color: "#35393D"}

    --color-grey-blue: { color: "#92A2AF";}
    --color-grey-neutral { color: "#B5B1B1"}
}

